<div class="main">

  <div class="img">
    <img src="http://www.macpricesaustralia.com.au/wp-content/uploads/2014/11/2014-products-apple.jpg" />
  </div>

  <div class="text">
     <h1>A Refurbished mac? </h1>
     <h2>Get the best prices at House of Mac</h2>
  </div>

</div>
