<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>House of Mac</title>
  </head>

  <body>
    <div class="header">
      <h1>House of Mac</h1>
      <ul>
        <li>Home</li>
        <li>shop</li>
        <li>log in</li>
      </ul>
    </div>

    <div class="main">
      <h2>House of mac</h2>

        <p class="img-front">IMacs <img src="https://content.hwigroup.net/images/news/apple_imac_sb_02.jpg" alt="" /></p>
        <p class="img-front">Macbooks <img src="http://www.notebookcheck.nl/uploads/tx_nbc2/4zu3macbook12.jpg" alt="" /></p>
        <p class="img-front">Ipads <img src="https://cdn.tabletsmagazine.nl/wp-content/uploads/2014/10/Apple-iPad-Air-2-2.jpg" alt="" /></p>
        <p class="img-front">Iphones <img src="http://photos.appleinsidercdn.com/gallery/16181-12838-160315-iPhone_4K-l.jpg" alt="" /></p>
        <p class="img-front">Ipods <img src="http://cdn2.expertreviews.co.uk/sites/expertreviews/files/0/65/apple_ipod_classic_160gb_01_0.jpg" alt="" /></p>
        <p class="img-front">Accessories <img src="http://www.notebookcheck.nl/fileadmin/_migrated/pics/DSC00566_10.jpg" alt="" /></p>

    </div>

    <div class="footer">
      <h4>contact list</h4>
      <ul>
        <li>streetname 123</li>
        <li>zip code + city</li>
        <li>phone number</li>
        <li>email@adres</li>
      </ul>
    </div>

  </body>
</html>
