<h1> New order </h1>

<p> Products list: </p>
    -
    -
<p> Total price: </p>
<br>
<p> Delivery address: </p>

  <p> ---- FORM ---- </p>
<br>
<p> To make your order final please press 'complete order' </p>

<h2> Complete order </h2>
