<h1> New order </h1>

<p> Products list: </p>

<p> Total price: </p>

<br>

<p> Customer name: </p>
<%= form_for @order do |f| %>

<div class="field">
  <p> Delivery address: </p>
  <%= f.text_area :deliveryaddress, cols: "30", rows: "8" %>

</div>

<br>
  <%= f.submit 'Complete order'%>
  <% end %>
