/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 9px 11px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}
.navbar img {
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

html{
  position: relative;
  min-height: 100%;
}

body{
  margin-top: 50px;
  margin-bottom: 250px;
  padding: 25px;

}

.footer ul {
  position: absolute;
  height: 200px;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: #e6e6e6;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.footer li {
  color: #333;
}

.footer img {
  width: 30px;
}
